:root {
    font-size: 16px;
    font-family: 'Roboto';
    --text-primary: blanchedalmond;
    --text-secondary: blanchedalmond;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: blanchedalmond;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;    
}

/* ///////////////////////////////////////////////// */
.navbar {
    position: fixed;
    width: 100vw;
    height: 3rem;
    color: var(--text-primary);
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.navbar-nav {
    list-style: none;
    background-color: grey;

    padding: 0;
    margin: 0;
    display: flex;
    /* align-items: center;
    justify-content: center;  */
}

.nav-item {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;  */
    cursor: pointer;
}

.nav-item:hover {
    opacity: 0.6;
}

svg {
    min-width: 1.2rem;
}

/* //////////////////////////////// */


#ui_box {
    left: -20rem;
    top: 0;
    position: fixed;
    width: 20rem;
    height: 100vh;
    opacity: 0.8;
    background-color: grey;
    transition: left 1s;
}

.ui-box-page {
    display: none;
    padding: 1rem;
    text-align: center;
}

.ui-box-page-main {
    height: 100%;
    /* background-color: violet; */
}

/* ///////////////////////////////// */
.satellite-group {
    display: flex;
}

.satellite-group-bar {
    display: flex;
    padding: 0.5rem;
    
    align-items: center;
    justify-content: space-between;

    background-color: tan;
}

.satellite-group-bar:hover {
    opacity: 0.8;
}

.satellite-group-bar p {
    margin: 0;
    text-align: center;
}

.group-name {
    display: flex;
    align-items: center;
    max-width: 50%;

}

.group-more {
    display: flex;
    align-items: center;
}

.group-counter {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-size: 0.9rem;
}

.satellite-group-list {
    /* display: none;
    height: 0; */
    overflow: scroll;
    cursor: pointer;
    transition: height 2s;
}

.satellite-group-list[dropped] {
    display: block;
    height: 200px;
    background-color: yellow;
}

.satellite-group-list-element {
    display: flex;
}

.satellite-group-list-element:hover {
    opacity: 0.2;
}


/* /////////////////////////// */
/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* ////////////////////////// */


